extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    div.grid-x
      div.cell.small-6.medium-9.large-9
        h1 #{project_name}
        p.lead.text-light #{description||"No description. Some projects are pulled without a description and most don\'t contain a live link except Agora."}
      div.cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          each lang in technologies
            li #{lang}
        if (live_link)
          a.button.expanded(href=live_link) Live Demo
        a.button.expanded(href=github_link) GitHub Repo
    img.image(src=image_urls.original)
    img.image(src=image_urls.medium)
    img.image(src='https://placehold.it/1200x550')